body {
  min-width: 300px;
  color: #4d4e53;
  font-family: Times new roman, sans-serif;
  line-height: 1.6;
}

#navbar {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 30vw;
  height: 100%;
  border-style: solid;
  border-width: 2px;
}

header {
  color: green;
  margin: 15px;
  text-align: center;
  font-size: 1.9em;
  font-weight: thin;
}

#main-doc header {
text-align: left;
margin: 0px;
}

#navbar ul {
  height: 90%;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

#navbar li {
  color: #aabbcc;
  border-top: 1px solid;
  list-style: none;
  position: relative;
  width: 100%;
}

#nav-link li {
  border-style: solid;
  border-width: 1px;
  border-color: green;
  text-align: center;
  list-style: none;
  padding-left: 0px;
  overflow-y:auto;
  color: inherit;
}

#navbar a {
  display: block;
  padding: 10px 30px;
  color: black;
text-decoration: none;
cursor: pointer;
}

#main-doc {
  position: absolute;
  margin-left: 310;
  padding: 50px;
  margin-bottom: 100px;
}

section article {
  color: #4d4e53;
  margin: 15px;
  font-size: 1.0em;
}

section li {
  margin: 10px 0px 0px 30px;
}

code {
  display: block;
  text-align: left;
white-space: pre-line;
position: relative;
word-break: normal;
word-wrap: normal;
line-height: 2.5;
background-color: #c7c7c7;
padding: 15px;
margin: 20px;
border-radius: 7px;
}

/*smartphones*/

@media(max-width: 810px) {
  #navbar {
    position: relative;
    width: 100%;
    border-style: none;
    height: auto;
  }

  #nav-link {
    max-height: 35vh;
    width: 100%;
  } 

  main {
    margin: auto;
    margin-left: 1vw;
    margin-right: 1vw;
  }
}

@media(max-width: 500px) {
  body {
    font-size: 90%;
  }
}

@media(max-width: 400px) {
  body {
    font-size: 80%;
  }
}
